<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
      <appSettings>
 		<add key="dataPath" value="D:\misc\HashFolders\Data"/>
<!--		<add key="dataPath" value="D:\misc\HashFolders\TestData"/> -->
		<add key="database" value="HashResults.accdb"/>
        <add key="logfile" value="Hash.log"/>
        <add key="log_debug" value="false"/>
      </appSettings>
</configuration>
