<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
      <appSettings>
        <add key="database" value="d:\Misc\HashResults\Data\HashResults.accdb"/>
        <add key="logfile" value="d:\Misc\HashResults\Data\Hash.log"/>
        <add key="log_debug" value="false"/>
      </appSettings>
</configuration>
