<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
      <appSettings>
        <add key="connectionString" value="Server=localhost;Database=HashFolders;Trusted_Connection=True;TrustServerCertificate=True;"/>
        <add key="log_debug" value="false"/>
      </appSettings>
</configuration>
