<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
      <appSettings>
        <add key="connectionString" value="Data Source=localhost;Initial Catalog=HashFolders;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False;Application Name=HashFolders;Command Timeout=30"/>
        <add key="logfile" value="Hash.log"/>
        <add key="log_debug" value="false"/>
      </appSettings>
</configuration>
