<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
      <appSettings>
        <add key="connectionString" value="Server=localhost;Database=HashFolders;Trusted_Connection=True;TrustServerCertificate=True;"/>
        <add key="logDebug" value="false"/>
        <add key="dataPath" value="d:\misc\hashfolders\data\Reports"/>
        <add key="drives" value="C,D,E,R"/>
      </appSettings>
</configuration>
